@mixin mr-pd {
    margin: 0;
    padding: 0;
}

body {
    @include mr-pd;
}

@media (max-width: 1024px) {
    header.header {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%) !important;
    }
    .header__mobile-button {
        background: rgba(255, 255, 255, 0.3);
        path {
            stroke: #fff;
        }
    }
    .header__main-link {
        filter: brightness(0) invert(1);
    }
    .header__announ-button {
        background: transparent !important;
        filter: brightness(0) invert(1);
    }
    .header {
        .lang-switch {
            background: rgba(255, 255, 255, 0.3);
            color: #fff;
        }
    }
    .page {
        margin-top: 0;
    }
}

@import "container.scss";
.out-of-header {
    animation: change-bg 27s linear infinite;
    background: #276224;
    color: #fff;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    padding: 85px 0;
    margin-top: -50px;
}

.footer {
    display: none;
}

main {
    .desktop {
        display: none;
    }
    * {
        box-sizing: border-box;
    }
    h1 {
        font-size: 35px;
        font-weight: 800;
        line-height: 80%;
        @include mr-pd;
        margin-bottom: 15px;
        span {
            font-size: 24px;
            line-height: 120%;
        }
    }
    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 112%;
        @include mr-pd;
        margin-bottom: 16px;
    }
    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 130%;
        @include mr-pd;
        &+p {
            margin-top: 12px;
        }
    }
    a {
        color: #fff;
        @include mr-pd;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
        }
    }
    ul {
        @include mr-pd;
        li {
            list-style-type: none;
            font-weight: 400;
            @include mr-pd;
            &::before {
                background: none;
            }
        }
    }
    .landing-btn {
        background: #FECC00;
        color: #000;
        border-radius: 12px;
        display: block;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        padding: 17px 40px;
        text-align: center;
        &:hover {
            background: #F0C100;
            color: #000;
        }
        &:active {
            background: #F0AD00;
            color: #000;
        }
    }
    .landing[data-current-tab="offline"] [data-tab="online"] {
        display: none;
    }
    .landing[data-current-tab="online"] [data-tab="offline"] {
        display: none;
    }
    .welcome {
        text-align: center;
        .logo-block {
            display: flex;
            justify-content: space-around;
            max-width: 450px;
        }
        .landing-logo {
            position: relative;
            width: 150px;
            z-index: 1;
            &:nth-child(2) {
                background: rgba(255, 255, 255, 0.31);
                border-radius: 24px;
                padding: 10px;
            }
        }
        .visual {
            height: 600px;
            position: relative;
            &::before {
                animation: change-visual 27s infinite;
                background: url(../img/visual-1_1.png) no-repeat;
                background-size: contain;
                content: '';
                height: 1400px;
                left: 55%;
                position: absolute;
                transform: translateX(-50%) translateY(-50%);
                top: 35%;
                width: 1400px;
                z-index: 0;
            }
        }
        &-text {
            margin-top: -100px;
            position: relative;
            text-align: left;
            z-index: 1;
            p {
                span {
                    font-size: 14px;
                    font-style: italic;
                }
                &+p {
                    margin-top: 16px;
                }
            }
        }
        .landing-btn {
            margin-top: 32px;
        }
    }
    .terms {
        background: rgba(255, 255, 255, 0.21);
        border-radius: 24px;
        margin: 100px 0 60px;
        text-align: center;
        h2 {
            margin-bottom: 24px;
        }
        .landing-tabs {
            animation: change-tabs 27s infinite ease-in-out;
            border-radius: 24px 24px 0 0;
            display: flex;
            &__item {
                opacity: 0.5;
                position: relative;
                width: 50%;
                .js-tab {
                    display: block;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 112%;
                    padding: 16px 12px;
                }
                &:nth-child(1) {
                    svg {
                        bottom: 0px;
                        height: 24px;
                        position: absolute;
                        right: -16.8px;
                        transform: scaleX(-1);
                        z-index: 1;
                    }
                }
                &:nth-child(2) {
                    svg {
                        display: none;
                        bottom: 0px;
                        height: 24px;
                        left: -16.8px;
                        position: absolute;
                        z-index: 1;
                    }
                }
            }
            .active {
                background: rgba(255, 255, 255, 0.45);
                border-radius: 24px 24px 0 0;
                opacity: 1;
            }
        }
        &-blocks {
            background: rgba(255, 255, 255, 0.45);
            border-radius: 0 24px 24px 24px;
            margin-top: -0.5px;
            padding: 32px 36px;
        }
        .swiper {
            min-height: 310px;
            &-slide {
                img {
                    height: 200px;
                }
            }
            &-pagination {
                &-bullet {
                    background: #fff;
                    border-radius: 12px;
                    height: 5px;
                    opacity: 0.5;
                    transition: all 0.3s ease-in-out;
                    width: 5px;
                    &-active {
                        opacity: 1;
                        width: 15px;
                    }
                }
            }
        }
        .landing-btn {
            font-size: 18px;
            line-height: 120%;
            margin-top: 24px;
        }
    }
    .landing[data-current-tab="offline"] {
        .landing-tabs__item {
            &:nth-child(1) svg {
                display: none;
            }
            &:nth-child(2) svg {
                display: block;
            }
        }
        .terms-blocks {
            border-radius: 24px 0 24px 24px;
        }
    }
    .buy {
        margin: 65px 0;
        .landing-btn {
            background: #fff;
            margin-top: 16px;
            &:hover {
                background: #e8e8e8;
            }
            &:active {
                background: #dedede;
            }
        }
        &-img {
            display: none;
        }
    }
    .form {
        iframe {
            border-radius: 24px;
        }
    }
    .how {
        margin: 50px 0;
        a {
            display: flex;
            margin: 30px 0;
            p {
                color: #FECC00;
                font-size: 14px;
                line-height: 17px;
                text-decoration-line: underline;
            }
        }
    }
    .faq {
        .accordion {
            margin: 0 0 10px 0;
            padding: 0px;
            position: relative;
            &__text {
                animation: change-accordion 27s infinite ease-in-out;
                background: #B9DF84;
                border-radius: 14px;
                box-shadow: 0px 5px 25px rgba(43, 93, 168, 0.15);
                color: #000;
                cursor: pointer;
                font-size: 18px;
                font-weight: 700;
                line-height: 22px;
                margin: 0;
                padding: 15px 45px 15px 15px;
                position: relative;
                z-index: 2;
                &::after {
                    background: url(../img/accordion.svg) no-repeat;
                    background-size: contain;
                    content: '';
                    height: 20px;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%) scaleY(-1);
                    transition: all 0.3s ease;
                    width: 20px;
                }
                &-opened::after {
                    transform: translateY(-50%) scaleY(1);
                }
            }
            &__body {
                background: #fff;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                box-shadow: 0px 5px 25px rgba(43, 93, 168, 0.15);
                color: #000;
                display: none;
                padding: 30px 20px 30px 20px;
                transform: translateY(-15px);
                z-index: 1;
                a {
                    font-weight: 700;
                }
                li {
                    padding: 0 0 0 20px;
                    &::before {
                        background: url(./img/star-full.svg);
                    }
                }
                * {
                    color: #000;
                    font-size: 14px;
                    line-height: 157%;
                }
            }
        }
    }
    .important {
        align-items: center;
        display: flex;
        margin: 64px 30px;
        &-text {
            margin-left: 24px;
            p {
                font-size: 12px;
                line-height: 150%;
            }
        }
    }
    .responsibility {
        p {
            font-size: 14px;
            line-height: 130%;
            opacity: 0.6;
            text-align: center;
        }
    }
}

@media (min-width: 750px) and (max-width: 980px) {
    .form-wrap {
        margin-right: 40px;
    }
}

@import "media.scss";
@import "keyframes.scss";